.contenedorPrecios{
    background-color: #EE3B24;
    display: flex;
/*     justify-content: flex-end; */
    align-items: center;
    height: 5%;
    padding: 5px 5%;
}

.txt-FiltrarPrecio{
    display: inline-block;
    padding: 0 20px;
    font-family: 'Comfortaa';
    font-style: normal;
    font-size: 16px;
    color: #EBDFC5;
}