.img1{
    box-sizing: border-box;
    position: absolute;
    width: 471.38px;
    height: 208.36px;
    left: 882.62px;
    top: 115px;
    mix-blend-mode: multiply;
    border: 1px solid #000000;

}

#text1{
    position: absolute;
    width: 597.03px;
    height: 328.26px;
    left: 91.41px;
    top: 142.52px;
/* h4 párrafo */
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 19px;
    color: #000000;
}

#text2{
    position: absolute;
    width: 513.2px;
    height: 50px;
    left: 728.27px;
    top: 554.78px;
/* h3 párrafo */
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 19px;
    color: #000000;
}


.img3{
    /* Rectangle 116 */

position: absolute;
width: 573.22px;
height: 263px;
left: 130.53px;
top: 520.78px;

border-radius: 20px;
}